In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
report=pd.read_csv('../Data/Student_Satisfaction_Survey.csv', encoding='latin-1')

In [4]:
report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SN                    580 non-null    int64
 1   Total Feedback Given  580 non-null    int64
 2   Total Configured      580 non-null    int64
 3   Questions             580 non-null    object
 4   Weightage 1           580 non-null    int64
 5   Weightage 2           580 non-null    int64
 6   Weightage 3           580 non-null    int64
 7   Weightage 4           580 non-null    int64
 8   Weightage 5           580 non-null    int64
 9   Average/ Percentage   580 non-null    object
 10  Course Name           580 non-null    object
 11  Basic Course          580 non-null    object
dtypes: int64(8), object(4)
memory usage: 54.5+ KB

In [5]:
report.head(5)

,SN,Total Feedback Given,Total Configured,Questions,Weightage 1,Weightage 2,Weightage 3,Weightage 4,Weightage 5,Average/ Percentage,Course Name,Basic Course
0,1,1,12,How much of the syllabus was covered in the cl...,0,0,1,0,0,3.00 / 60.00,FY B.VOC FOOD TECHNOLOGY,B.VOC FOOD TECHNOLOGY
1,2,1,12,How well did the teachers prepare for the clas...,0,0,0,0,1,5.00 / 100.00,FY B.VOC FOOD TECHNOLOGY,B.VOC FOOD TECHNOLOGY
2,3,1,12,How well were the teachers able to communicate?,0,0,0,0,1,5.00 / 100.00,FY B.VOC FOOD TECHNOLOGY,B.VOC FOOD TECHNOLOGY
3,4,1,12,The teachers approach to teaching can best be...,0,0,1,0,0,3.00 / 60.00,FY B.VOC FOOD TECHNOLOGY,B.VOC FOOD TECHNOLOGY
4,5,1,12,Fairness of the internal evaluation process by...,0,0,0,1,0,4.00 / 80.00,FY B.VOC FOOD TECHNOLOGY,B.VOC FOOD TECHNOLOGY

In [6]:
report['Questions'].value_counts()

Questions
How much of the syllabus was covered in the class?                                                                                                                                  29
How well did the teachers prepare for the classes?                                                                                                                                  29
What percentage of teachers use ICT tools such as LCD projectors, Multimedia, etc. while teaching?                                                                                  29
Efforts are made by the institute/ teachers to inculcate soft skills, life skills and employability skills to make you ready for the world of work.                                 29
Teachers encourage you to participate in extracurricular activities.                                                                                                                29
The institute/ teachers use student-centric methods, such as experiential learning, participative learning and problem-solving methodologies for enhancing learning experiences.    29
The institution makes effort to engage students in the monitoring, review and continuous quality improvement of the teaching-learning process.                                      29
Teachers are able to identify your weaknesses and help you to overcome them.                                                                                                        29
The teachers identify your strengths and encourage you to provide the proper level of challenges.                                                                                   29
The teachers illustrate the concepts through examples and applications.                                                                                                             29
Your mentor does a necessary follow-up with an assigned task to you.                                                                                                                29
Teachers inform you about your expected competencies, course outcomes and program\noutcomes.                                                                                        29
The institution provides multiple opportunities to learn and grow.                                                                                                                  29
The teaching and mentoring process in your institution facilitates you in cognitive, social and\nemotional growth.                                                                  29
The institute takes an active interest in promoting internships, student exchange, field visit opportunities for students.                                                          29
Was your performance in assignments discussed with you?                                                                                                                             29
Fairness of the internal evaluation process by the teachers.                                                                                                                        29
The teachers approach to teaching can best be described as                                                                                                                         29
How well were the teachers able to communicate?                                                                                                                                     29
The overall quality of the teaching-learning process in your institute is very good.                                                                                                29
Name: count, dtype: int64

In [7]:
report['SN'].value_counts()

SN
1     29
2     29
19    29
18    29
17    29
16    29
15    29
14    29
13    29
12    29
11    29
10    29
9     29
8     29
7     29
6     29
5     29
4     29
3     29
20    29
Name: count, dtype: int64

In [8]:
report['Total Feedback Given'].value_counts()

Total Feedback Given
7     80
1     60
3     60
4     40
2     40
14    40
17    40
26    20
12    20
5     20
20    20
74    20
6     20
46    20
37    20
27    20
39    20
9     20
Name: count, dtype: int64

In [9]:
report['Total Configured'].value_counts()

Total Configured
20     80
24     60
12     20
22     20
105    20
331    20
118    20
48     20
159    20
123    20
559    20
137    20
18     20
14     20
144    20
44     20
21     20
42     20
15     20
175    20
122    20
33     20
119    20
170    20
Name: count, dtype: int64

## Weithage 1 y Weithage 2

In [10]:
report['Weightage 1'].value_counts()

Weightage 1
0     407
1     112
2      36
3      12
4       6
6       2
19      1
10      1
9       1
5       1
7       1
Name: count, dtype: int64

In [11]:
# Puntuacion por debajo del promedio pero mejor que la mas baja
report['Weightage 2'].value_counts()

Weightage 2
0    291
1    123
2     64
3     41
4     25
5     15
7     10
6      9
8      2
Name: count, dtype: int64

In [28]:

puntuaciones = [70, 85, 90, 60, 75, 80, 55, 65]
promedio = sum(puntuaciones) / len(puntuaciones)
puntuacion_minima = min(puntuaciones)
puntuaciones_filtradas = [p for p in puntuaciones if p < promedio and p > puntuacion_minima]
print(f"Promedio: {promedio}")
print(f"Puntuación más baja: {puntuacion_minima}")
print(f"Puntuaciones por debajo del promedio pero mejores que la mínima: {puntuaciones_filtradas}")

Promedio: 72.5
Puntuación más baja: 55
Puntuaciones por debajo del promedio pero mejores que la mínima: [70, 60, 65]

In [25]:

puntuaciones = [23, 45, 67, 12, 89, 34, 22, 78, 56, 45]
promedio = sum(puntuaciones) / len(puntuaciones)
min_puntuacion = min(puntuaciones)
puntuaciones_por_debajo_del_promedio = [p for p in puntuaciones if p < promedio]
mejor_que_minima = max(puntuaciones_por_debajo_del_promedio)
(promedio, min_puntuacion, mejor_que_minima)

(47.1, 12, 45)

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
report.sample()

,SN,Total Feedback Given,Total Configured,Questions,Weightage 1,Weightage 2,Weightage 3,Weightage 4,Weightage 5,Average/ Percentage,Course Name,Basic Course
134,15,5,15,The institution makes effort to engage student...,0,0,3,2,0,3.40 / 68.00,MA PSYCHOLOGY - 1,MA PSYCHOLOGY

In [12]:
report['SN'].value_counts()

SN
1     29
2     29
19    29
18    29
17    29
16    29
15    29
14    29
13    29
12    29
11    29
10    29
9     29
8     29
7     29
6     29
5     29
4     29
3     29
20    29
Name: count, dtype: int64